/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Cores da Logo:
HEX : #132235 Azul escuro
HEX : #61c2bf Azul Claro
HEX : #7d8690 Cinza
 */


/* Jose */

header {
    display: flex;
    align-items: center;

    background-color: #132235;
    height: 8%;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

header div {
    width: 80%;
    margin: auto;

    display: flex;
    align-items: center;
}

#container-logo img {
    width: 40px;
}

#container-logo p {
    margin-left: 1%;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 4px;
}

#container-logo p, .menu-item a {
    color: #61c2bf;
}


#container-menu {
    width: 40%;

    display: flex;
    justify-content: flex-start;
}

#container-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-item a {
    color: #61c2bf;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
}

/* Janaylla */
#apartamento{
    border: 2px solid black;
    display: flex;
    padding: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
#apartamento #apts{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}
#apartamento div .box-apt {
    margin: 10px;
    background-color: blue;
}
#apartamento #apts .box-apt img{
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
#apartamento button{
    cursor: pointer;
    height: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    border: solid 3px #61c2bf;
}
#apartamento button:hover{
    background-color: #61c2bf;
}
/* Kelvia Seciton 1 e 3*/

.apresentacao{
    border: 1px solid rgba(128, 128, 128, 0.301);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.logo-apres{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    
}

#quem-somos{
    margin: 30px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content:center;
    background-color: rgba(12, 75, 250, 0.075);
    border-radius: 10px;
}

h2{
    font-size: 24px;
}

.text-phot-who{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.img-Sobre{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}
