/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
body{
    flex-direction: column;
    height: 100vh;
}

/* Cores da Logo:
HEX : #132235 Azul escuro
HEX : #61c2bf Azul Claro
HEX : #7d8690 Cinza
 */


/* Jose */

header {
    display: flex;
    align-items: center;

    background-color: #132235;
    height: 80px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

header div {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#container-logo {
    width: 20%;
}

#container-logo img {
    width: 40px;
}

#container-logo p {
    margin-left: 1%;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 4px;
}

#container-logo p, .menu-item a, .btn-menu-mobile-label span{
    color: #61c2bf;
}


#container-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#container-menu ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-item {
    height: 100%;
    padding: 0 4%;
}

.menu-item a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #61c2bf;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.menu-item:hover {
    height: 100%;
    background-color: white;
}

.menu-item:hover a {
    letter-spacing: 3px;
    font-size: 1.21em;
}

#btn-menu-mobile, .btn-menu-mobile-label {
    display: none;
}

@media screen and (max-device-width: 1200px) {
    #container-logo p {
        font-size: 1.4em;
    }

    #container-logo img {
        width: 35px;
    }

    #container-menu ul {
        width: 60%;
    }

    .menu-item a {
        font-size: 1.1em;
    }
}

@media screen and (min-device-width: 421px) and (max-device-width: 800px) {
    .btn-menu-mobile-label {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid white;
        padding: 0 4%;
        height: 50%;
    }

    #btn-menu-mobile:checked ~ ul {
        display: none;
    }

    #contaier-menu {
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
    }

    #container-menu ul {
        position: absolute;
        top: 80px;
        right: 0;
        height: 16vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        background-color: #132235;
    }

    .menu-item {
        margin-right: 14%;
    }
}


/* Janaylla */
#apartamento{
    display: flex;
    padding: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
#apartamento h1{
    color: #132235;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
#apartamento #apts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
    flex-wrap: wrap; 
}
#apartamento div .box-apt {
    width: 30%;
    margin: 10px;
}
#apartamento #apts .box-apt img{
    width: 100%;
    cursor: pointer;
}
#apartamento button{
    cursor: pointer;
    height: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    border: solid 3px #132235;
    font-size: 20px;
}
#apartamento button:hover{
    background-color: #132235;
    color: white;
}
@media screen and (max-device-width: 420px){
    
#apartamento div .box-apt {
    width: 100%;
}
#apartamento h1{
    font-size: 23px;
}
#apartamento #apts{
    margin: 0px 0px; 
    padding: 5px;
}
}
@media screen and (max-device-width: 800px) and  (min-device-width: 421px)
{     #apartamento #apts{
    margin: 10px;
    padding: 10px;
}
    #apartamento div .box-apt {
        width: 43%;
    }
#apartamento h1{
    font-size: 30px;
}

}
/* Kelvia Seciton 1 e 3*/

.apresentacao{
    border: 1px solid rgba(128, 128, 128, 0.301);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

.logo-apres{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    
}

#quem-somos{
    margin: 30px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content:center;
    background-color: rgba(12, 75, 250, 0.192);
}

h2{
    font-size: 24px;
}


.text-phot-who{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.img-Sobre{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}